<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-danger" type="button">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Recipe name</label>
                        <input 
                            type="text" 
                            formControlName="name"
                            id="name" 
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="imagePath">Image url</label>
                            <input 
                            type="text" 
                            formControlName="imagePath"
                            id="imagePath" 
                            class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="" class="img-responsive">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea 
                                type="text" 
                                formControlName="description"
                                id="description" 
                                rows="6" 
                                class="form-control"></textarea>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Ingredients</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div 
                        class="row" 
                        style="margin-top: 10px; margin-bottom: 4px;"
                        *ngFor="let ingredientControl of getControls(); let i = index"
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input 
                                formControlName="ingredientName"
                                type="text" 
                                class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <input 
                                formControlName="amount"
                                type="number"   
                                class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="button" (click)="onAddIgredient()">Add Ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>